*
{
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

.container
{
	/*background-image: url( '' );
	background-repeat: no-repeat;
	background-size: cover;*/
	height: 100vh;
	background-color: #e6f6ff;
}

.top
{
	color: white;
	background-color: #fb4e71;
	padding: 15px;
}

.bottom
{
	padding: 15px;
}

.sub-title
{
	font-weight: bold;
	font-size: 18px;
}

.c1
{
	background-color: white;
	border-radius: 15px;
	margin-bottom: 10px;
}

.c1 div
{
	padding: 10px;
}

.c1 img
{
	height: 100px;
	margin-right: 10px;
}

.c2
{
	margin-bottom: 10px;
}

.c2 div
{
	width: 100px;
	margin-right: 5px;
}

.c2 img
{
	border-radius: 15px;
}

.button
{
	text-align: center;
}
